.AnswerInput {
  position: relative;
  background-color: white;
  
  padding: 1rem;
  border-radius: 5px;
}

.AnswerInput__critical-hit-button {
  position: absolute;
  top: -44px;
  left: 28px;
  height: 2rem;
  width: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 15rem;
}

.AnswerInput__critical-hit-button.success {
  background-color: darkgreen;
}

.AnswerInput__critical-hit-button.failure {
  background-color: darkred;
}

.AnswerInput__radiogroup {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.AnswerInput__radio-label-a,
.AnswerInput__radio-label-b,
.AnswerInput__radio-label-c,
.AnswerInput__radio-label-d {
  margin-right: 1rem;
}

.AnswerInput__radio-button-a,
.AnswerInput__radio-button-b,
.AnswerInput__radio-button-c,
.AnswerInput__radio-button-d {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  display: flex;
}

.AnswerInput__label {
  color: #fadb31;;
  font-weight: bold;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -25px;
}
