.AnswerInputs {
  height: 16rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}


.AnswerInputs input {
  width: 20px;
  height: 40px;
  font-size: 30px;
  margin: 0 auto;
}
