.AnswerInputs {  
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;

  @media screen and (max-width: '599px') {
    flex-direction: column;    
  }
}


.AnswerInputs input {
  width: 20px;
  height: 40px;
  font-size: 30px;
  margin: 0 auto;
}
