.AnswerStatistics {
  width: 40rem;
  margin: 0 auto;
}

.AnswerStatistics__breakdown {
  display: flex;
  justify-content: space-around;
}

.AnswerStatistics__total {
  color: white;
  font-size: 2.5rem;
  font-family: 'Lobster';
  margin-bottom: 3rem;
}