.App {
  text-align: center;
  background: url('../assets/space_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  overflow: auto;
}

.App__content-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.App__title {
  width: 100%;
  padding: 3rem 0;
  align-self: flex-start;
  margin: 0 auto;

  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-family: 'Poller One', 'cursive';
  color: #fadb31;
}
